.hamburger-menu
  .hamburger-menu-toggle#ham-toggle
    .one
    .two
    .three
  nav.hamburger-menu__nav
		ul(role="navigation").nav__list.hidden
			li.nav__list-item
				a(href="#" class="nav__link")
					span.nav__link-text Мои работы
			li.nav__list-item
				a(href="#" class="nav__link")
					span.nav__link-text Блог
			li.nav__list-item
				a(href="#" class="nav__link")
					span.nav__link-text Обо мне
			li.nav__list-item
				a(href="#" class="nav__link")
					span.nav__link-text Авторизация

