extends ../template

block variables
    - var title = 'Мои работы';
    - var wrapperClassName = 'wrapper__works';
    - var header_modif = 'header__works';
    - var onPage = true;

//- из блока header замена другим блоком
block person-card
    div(class="header__avatar person-card") 
        .person-card__top
            .person-card__pic
                img(class='person-card__img' src=("assets/img/content/avatar.jpg"))
        .person-card__bottom
            .person-card__fio.
                Максим Егоров
            .person-card__whoIsSite.
                Личный сайт веб разрабочика
//- контент
block main 
    main(class='main main--works')
        .container.main__container.main__container--works
            h1.title.title--underlined.title--works Мои работы
                +svgTemp("title__svg-works", 'works_header')
            section.my-works
                .my-works__slider
                    img(src=('assets/img/content/site1.png')).my-works__slider-img
                .my-works__decription 
                    .my-works__decription-wrapper
                        .my-works__site-name.
                            Сайт школы онлайн <br> Образования
                        .my-works__site-technogies HTML , CSS, JAVASCRIPT
                        a(href='#').my-works__site-link
                            svg.my-works__svg-link
                                use(xlink:href=("assets/icons/sprite/sprite.svg")+"#link")
                            | Посмотреть сайт   
                .my-works__slider-buttons
                    a(href='#').my-works__button-left
                        img(src=('assets/img/content/site2.png')).my-works__img
                        +svgTemp('my-works__arrow-down','portf_arrow_down')
                    a(href='#').my-works__button-right
                        img(src=('assets/img/content/site3.png')).my-works__img
                        +svgTemp('my-works__arrow-up','portf_arrow_up')
            h1.title.title--underlined Что обо мне <br>говорят
            ul.feeds-list
                li.feeds-list__item
                    .feeds-list__picture
                        img.feeds-list__img(src=("assets/img/content/feeds_avatar1.png"))
                    .feeds-list__description
                        .feeds-list__text.
                            Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .feeds-list__author Ковальчук Дмитрий
                        .feeds-list__amplua — основатель Loftschool
                li.feeds-list__item
                    .feeds-list__picture
                        img.feeds-list__img(src=("assets/img/content/feeds_avatar2.png"))
                    .feeds-list__description
                        .feeds-list__text.
                            Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .feeds-list__author Ковальчук Дмитрий
                        .feeds-list__amplua — основатель Loftschool
            form.callback-form
                h1.title.title--underlined.callback-form__title Связаться со мной
                input(type="text" placeholder="Имя").callback-form__name
                input(type="text" placeholder="Email").callback-form__email
                textarea(placeholder="Ваше сообщение").callback-form__comment
                .callback-form__button-row
                    button(type="submit").button.callback-form__submit Отправить
                    button(type="reset").button.callback-form__reset Очистить
            a(href='#').arrow-top
                svg.arrow-top__svg
                    use(xlink:href=("assets/icons/sprite/sprite.svg")+"#portf_arrow_up")

                    
                

