.button {
  background-color: $moss;
  cursor: pointer;
  font-family: "robotoregular";
  color: $white;
  transition: .3s;
  &--welcome {
    text-decoration: none;
    display: inline-block;
    padding: 15px 8px;
    border-left: 2px solid $light-grey-four;
    &:first-child {
      border: none;
    }
    &:hover {
      background-color: $fern-green;
    }
  }
  &--authorization {
    flex: 1 1 auto;
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-left: 2px solid $light-grey-four;
    transition: .3s;
    &:first-child {
      border: none;
    }
    &:hover {
      background-color: $fern-green;
    }
  }
}
