.contacts {
  padding-bottom: 366px;
  padding-top: 328px;
  position: relative;
  z-index: 1;
  &__wrapper {
    width: 380px;
    opacity: 0.85;
    background-color: $light-grey-two;
    border-radius: 10px;
    margin: 0 auto;
    padding: 36px 40px 36px 40px;
    @include tablet {
      width: 96%;
      max-width: 350px;
    }
    @include mobile {
      width: 100%;
      border-radius: 0;
    }
  }

  &__title {
    font-size: 35px;
    &:after {
      top: 75px;
    }
  }
  &__list {
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin-bottom: 25px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__svg {
    width: 24px;
    height: 24px;
    fill: $moss;
    vertical-align: middle;
    margin-right: 10px;
  }
  @include tablet {
    padding-top: 198px;
  }
  @include mobile {
    padding-top: 0;
    padding-bottom: 616px;
  }
}
