.flipper {
  width: 380px;
  height: 420px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__wrapper {
    height: 305px;
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
  }
  &__welcome {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__authorization {
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
  }
  &.flipped &__wrapper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  @include tablet {
    width: 350px;
  }
  @include tablet {
    width: 300px;
  }
}
