.hamburger-menu-toggle {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  &.on .one {
    transform: rotate(45deg) translate(7px, 7px);
  }
  &.on .two {
    opacity: 0;
  }
  &.on .three {
    transform: rotate(-45deg) translate(8px, -10px);
  }
}

.one,
.two,
.three {
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
  transition-duration: 0.3s;
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-family: 'sansus';
  list-style: none;
  margin: 10% auto;
  text-align: center;
  @include phones {
    margin: 50% auto;
  }
  &.hidden {
    display: none;
  }
  .nav__link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 70px;
    line-height: 1.5;
    width: 100%;
    transition-duration: 0.5s;
    &:hover {
      color: white;
    }
    @include phones {
      font-size: 40px;
    }
  }
  .nav__link-text {
    display: inline-block;
    &:after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      background: transparent;
      transition: width 300ms ease, background-color 300ms ease;
    }
  }
  .nav__link:hover .nav__link-text:after {
    width: 50%;
    background-color: white;
  }
}

.hamburger-menu.on {
  z-index: 40;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(18, 38, 32, 0.9);
  position: fixed;
  overflow: hidden;
}