.main {
  position: relative;
  flex: 1 1 auto;

  &__container {
    &--articles {
      width: 100%;
      display: flex;
      @include tablet {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &--articles {
    display: flex;
    flex:1 1 auto;
    padding-top: 68px;
    padding-bottom: 66px;
  }
  &--about-me {
    padding-top: 20px;
  }
}
