.social-list {
  &__item {
    height: 20px;
    width: 30px;
    display: inline-block;
    font-size: 0px;
    margin-right: 24px;
    opacity: 0.5;
    transition: .3s;
    @include phones {
      margin-right: 18px;
    }
    &:hover {
      opacity: 1;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    display: block;
    height: 100%;
  }
  &__icon {
    max-width: 100%;
    width: 100%;
    height: 100%;
    fill: $link-primary;
    transition: .3s;
    &:hover {
      fill: $fern-green;
    }
  }
  @include phones {
    margin-left: 10px;
    margin-top: -10px;
  }
}
